// Cores
$color-primary: #42b883;
$color-secondary: #35495e;
$color-background: #121212;
$color-background-alt: #181818;
$color-text: #ffffff;
$color-text-muted: #ccc;

// Fontes
$font-base: 'Arial', sans-serif;

// Espaçamentos
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
